table, th, td {
  border: 1px solid black;
}
th {
  background-color: red;
}
table {
  border-collapse: collapse;
  width: 55%;
}
body{
    background-color: black;
}
td {
  padding: 5px;
}
a {
    margin-left: 1rem;
    font-weight: 500;
    color: black;
    padding: 1em;
    text-decoration: none;
    background-color: white;
    border-radius: 4em;
    width: 4em;
}
a:hover{
  background-color: rgb(37, 78, 41);
  padding: 1em;
}
